In [4]:
from yahoo_fin.stock_info import get_data

In [5]:
amazon_weekly= get_data("amzn", start_date="12/04/2009", end_date="12/04/2019", index_as_date = True, interval="1wk")
amazon_weekly

,open,high,low,close,adjclose,volume,ticker
2009-11-30,7.181000,7.295500,6.755500,6.879000,6.879000,627018000,AMZN
2009-12-07,6.900000,6.950000,6.491000,6.707500,6.707500,957260000,AMZN
2009-12-14,6.625000,6.630500,6.282500,6.424000,6.424000,915898000,AMZN
2009-12-21,6.524000,6.985000,6.509500,6.923500,6.923500,648120000,AMZN
2009-12-28,6.987500,7.129000,6.726000,6.726000,6.726000,572014000,AMZN
...,...,...,...,...,...,...,...
2019-11-04,90.050499,90.752998,88.702003,89.293999,89.293999,229232000,AMZN
2019-11-11,88.900002,89.310997,86.642998,86.974503,86.974503,263310000,AMZN
2019-11-18,86.915001,88.125999,86.135498,87.286003,87.286003,260846000,AMZN
2019-11-25,87.662498,91.234497,87.662003,90.040001,90.040001,232328000,AMZN
2019-12-02,90.220001,90.277496,87.361504,88.498001,88.498001,146130000,AMZN